@keyframes shine {
  0% {
    transform: rotate(-45deg) translateY(-100);
    opacity: 0.3;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: rotate(-45deg) translateY(25%);
    opacity: 0.3;
  }
}
