@use "./shared.scss" as *;

// === FONT-FACE ===
@font-face {
  font-family: "Lucida Calligraphy";
  src: url("/src/assets/fonts/LCALLIG/LCALLIG.TTF") format("truetype");
  font-style: italic;
}

// @font-face {
//   font-family: "Myriad Pro";
//   src: url("/src//assets/fonts/MYRIADPRO/MYRIADPRO-BOLD.OTF") format("opentype");
// }
