@use "./shared.scss" as *;

// === FONT-FACE ===
@font-face {
  font-family: "Lucida Calligraphy";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js");
  font-style: italic;
}
