@use "./variables" as *;

// === MEDIA QUERIES ===
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 639.9px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 640px) and (max-width: 1199.99px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// === FLEX CENTER ===
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// === CARD-STYLE ===
@mixin card-style($padding: 30px) {
  text-align: center;
  padding: $padding;
  border-radius: 15px;
  transition: $transition-default;
  border: 1px solid $color-border-muted;
}
