@use "./shared.scss" as *;

body {
  font-family: $font-main;
  background-color: $color-background;
  color: $color-text-light;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-default;
  overflow-x: hidden;
  position: relative;
  padding: $padding-sm;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-headings;
  font-style: italic;
  color: $color-text-light;
  margin-bottom: $spacing-lg;
  font-weight: 700;
  font-size-adjust: 0.53;
}

h1 {
  @include respond(tablet) {
    font-size: 3.5rem;
  }

  @include respond(desktop) {
    font-size: 3.5rem;
    line-height: $line-height-heading;
  }
}

h2 {
  color: $color-primary;

  @include respond(desktop) {
    font-size: $font-size-h2;
  }
}

h3 {
  @include respond(desktop) {
    font-size: $font-size-h3;
  }
}

p {
  color: $color-text-muted;

  @include respond(desktop) {
    margin-bottom: $spacing-md;
  }
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: $transition-default;

  @include hover {
    color: $color-text-light;
  }
}
