.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: start;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  box-sizing: content-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 48px;
}

.title {
  height: clamp(30px, 15vh, 100px);
  margin: 0;
}

.description {
  height: clamp(30px, 14vh, 100px);
}

.services {
  height: 325px;
}

li {
  list-style: none;
  color: $color-primary;
}

.included {
  color: $color-primary;
}

.excluded {
  color: $color-text-muted;
}

.additional {
  color: $color-text-light;
}

.check {
  color: $color-primary;
}

.cross {
  color: $color-text-muted;
}

.cta {
  width: 250px;
  text-align: center;
  margin-bottom: 15px;
}

.price-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price-before {
  text-decoration: line-through;
  color: $color-text-muted;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
}
