@use "../../styles/variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;
  transition: $transition-default;
}

.header-scrolled {
  background-color: rgba(13, 13, 13, 0.95);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo-image {
  height: 50px;
  width: auto;
  transition: $transition-default;
}

.logo-image-scrolled {
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: $color-text-light;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  text-decoration: none;
  transition: $transition-default;
}

.nav-links a:hover {
  color: $color-primary;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: $color-primary;
  bottom: 0;
  left: 0;
  transition: $transition-default;
}

.nav-links a:hover::after {
  width: 100%;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: $color-text-light;
}
