.footer {
  display: relative;
  left: 0;
  background-color: black;
  width: 100dvw;
  height: 200px;
  margin-left: -16px;
  margin-bottom: -16px;
  padding: 16px;
  padding-bottom: 8px;
  align-items: center;
}

.footer-container {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    width: 28%;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-left: -12px;

  a {
    width: 100px;
    height: 100px;
  }

  p {
    margin: 0;
  }
}

.logo-image {
  height: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  font-size: 36px;
}

.copyright {
  display: block;
  text-align: center;
}
