h4,
p {
  margin-bottom: 0;
}

.testimonials-slider {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.testimonials-track {
  display: flex;
  transition: transform 0.7s ease;
  will-change: transform;

  &.no-transition {
    transition: none;
  }
}

.testimonial-slide {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.testimonial-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.testimonial-text {
  width: 100%;

  @include respond(tablet) {
    width: 40%;
  }
}

.testimonial-person {
  display: none;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(tablet) {
    display: flex;
  }
}

.testimonial-image {
  position: relative;
  display: flex;
  width: clamp(180px, 15vw, 200px);
  height: clamp(180px, 15vw, 200px);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.testimonial-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.testimonial-author {
  text-align: center;
}

.testimonial-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.testimonial-arrow {
  display: none;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  color: black;
  background-color: $color-text-light;

  @include respond(tablet) {
    display: flex;
  }

  @include hover {
    transition: $transition-default;
    background-color: $color-primary;
    cursor: pointer;
  }
}

.testimonial-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.active {
  background-color: $color-primary;
}
