h4,
p {
  margin-bottom: 0;
}

.testimonials-slider {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.testimonials-track {
  display: flex;
  transition: transform 0.7s ease;
  will-change: transform;

  &.no-transition {
    transition: none;
  }
}

.testimonial-slide {
  min-width: 100%;
  min-height: 100%;
}

.testimonial-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.testimonial-text {
  width: 40%;
}

.testimonial-person {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-image {
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.testimonial-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.testimonial-author {
  text-align: center;
}

.testimonial-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.testimonial-arrow {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: $color-text-light;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: $transition-default;
      background-color: $color-primary;
      cursor: pointer;
    }
  }
}

.testimonial-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.active {
  background-color: #d7b04d;
}
